.student-card{
    width: 320px;
    height: 320px;
    position: relative;
    border: 1px solid blue;
    margin: 20px;
    padding: 8px;
        background-color: #ffffff;
    .delete-student{
        position: absolute;
        right: 5px;
        font-size: 25px;
    }
    .ant-switch{
        width: 90px;
    }
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5em;
        margin-left: 6px;
    }
    .info{
        display: flex;
    }
    .presence{
        margin-bottom: 12px;
    }
    .image{
        width: 300px;
        
        img{
            width: 100%
        }
    }
}
